@font-face
  font-family: "Georgia-Regular"
  font-style: normal
  font-weight: 400
  src: url("https://fonts.animaapp.com/Georgia-Regular") format("truetype")

@font-face
  font-family: "Arial-Italic"
  font-style: italic
  font-weight: 400
  src: url("https://fonts.animaapp.com/Arial-Italic") format("truetype")

@font-face
  font-family: "Arial-Regular"
  font-style: normal
  font-weight: 400
  src: url("https://fonts.animaapp.com/Arial-Regular") format("truetype")
  

$font-main: Georgia
$arial-italic: Arial
$arial-regular: Arial

$black: rgba(0, 0, 0, 1)
$color-dark-3xl: rgba(41, 41, 41, 1)
$color-dark-xl: rgba(76, 76, 76, 1)
$color-dark-l: rgba(84, 84, 84, 1)
$color-dark-m: rgba(178, 178, 178, 1)
$color-dark-s: rgba(205, 205, 205, 1)
$color-primary: rgba(241, 205, 179, 1)
$color-primary-light: rgba(253, 220, 196, 1)
$color-light-l: rgba(246, 246, 246, 1)
$color-light-s: rgba(250, 250, 250, 1)
$color-light-xl: rgba(255, 255, 255, 1)

$font-size-s: 12px
$font-size-m: 15px
$font-size-l: 17px
$font-size-xl: 20px
$font-size-xxl: 35px
$font-size-xxxl: 44px

$noise: url("./assets/img/noise_transparent@2x.png")

%start-screen-gradient-background
    background: $noise, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20
%footer-gradient-background
    background: $noise, radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20
%center
    margin: 0 auto
/* body
  display: flex
  flex-direction: column
  margin: 0
  padding: 0 */

*
    padding: 0px
    margin: 0px

html
    box-sizing: border-box

*
    box-sizing: inherit
    &::before, &::after
        box-sizing: inherit

html, body
  scroll-behavior: smooth

.wrapper
  max-width: 1280px
  margin: 0 auto
  padding: 0 40px

.pic
    // width:200px

.header > .wrapper
    height:120px
    background: $noise, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: solid 1px
.welcome > .wrapper
    height: 908px - 120px
    background: url("./assets/img/start-screen-puppy.png") no-repeat right bottom, $noise, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20
    display: flex
    flex-direction: column
    justify-content: center
    p
        color: $color-dark-s
        width: 460px
    .welcome-pic
        display: none
.about > .wrapper
    height:588px
    background-color: $color-light-xl
    display: flex
    flex-flow: column wrap
    column-gap: 120px
    flex-grow: 0
    padding: 60px 215px

    h3
        width: 360px
        margin-bottom: 25px
        color: $color-dark-l

    p
        color: $color-dark-xl
        width: 430px
.pets > .wrapper
    height: 877px
    background-color: $color-light-l
    display: flex
    flex-direction: column
    h3
        width: 400px
        text-align: center
        margin: 80px auto 60px auto
    .pets-carousel
        margin: 0 auto 0 auto
        display: flex
        flex-direction: row
        justify-content: center
        gap: 90px
        .pets-card
            width: 270px
            height: 435px
            background-color: $color-light-s
            display: flex
            flex-direction: column
            align-items: center
            gap: 30px
            .pets-card-pic
                
            .pets-card-title
                
            .pets-card-button
                


    .our-pets-button
        margin: 0 auto
                
.help > .wrapper
    height:611px
    background-color: $color-light-xl
    h3
        width: 310px
        text-align: center
        margin: 80px auto 60px auto
    .help-box
        display: flex
        flex-flow: row wrap
        justify-content: center
        gap: 55px 120px

        .help-heading
            @extend h4
            text-align: center
        img
            display: block
            margin: 0 auto 30px auto

.donation > .wrapper
    height:462px
    background-color: $color-light-l
    display: flex
    flex-flow: column wrap
    flex-grow: 0
    column-gap: 30px

    padding: 80px 180px
    h3
        width: 300px
    h3, h4, h5
        color: $color-dark-l
    h3, h5, div
        margin: 0 0 20px 0

    .credit-card
        display: flex
        flex-direction: row
        // justify-content: space-between
        background: #F1CDB3
        align-items: center
        padding: 10px 15px
        gap: 10px
        width: 349px
        height: 43px
        background: $color-primary
        border-radius: 9px

        img
            width: 30px
            height: 23px
            color: $color-dark-3xl

    .donation-description
        color: $color-dark-m
        width: 380px
        margin: 0 0 0 0

.footer > .wrapper
    height:350px
    @extend %footer-gradient-background
    color: $color-primary
    display: flex
    flex-flow: column wrap
    // justify-content: flex-start
    align-content: flex-start
    column-gap: 130px
    row-gap: 40px
    padding-top:56px
    h3
        width: 280px
        color: $color-light-xl
    .contact
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        width: 320px
    background: url("./assets/img/footer-puppy.png") no-repeat 95% bottom, url("./assets/img/noise_transparent@2x.png"), #513D2F
    img
        width: 40px
        height: 32px
        flex: 0 0 auto
    h4
        margin-left: 10px

h1, h2, h3, h4, h5
    font-family: $font-main
    font-style: normal
    font-weight: 400

h1
    color: $color-light-xl
    font-size: $font-size-xxxl
    width: 310px
    line-height: 130%
    margin-bottom: 42px

h3
    color: $color-dark-l
    font-size: $font-size-xxl
    line-height: 130%
    letter-spacing: 0.06em

h4
    font-size: $font-size-xl
    line-height: 115%
    letter-spacing: 0.06em

h5
    font-size: $font-size-m
    line-height: 110%
    letter-spacing: 0.06em

p
    margin: 0 0 25px 0

.nav-list
  list-style: none
  display: flex
  align-items: center
  justify-content: center

.nav-item
  margin-left: 35px

.nav-link
  text-decoration: none
  padding: 0
  color: $color-dark-s

.nav-item, p
    @extend %paragraph-l

%paragraph-l
    font-family: $arial-regular
    font-size: $font-size-m
    font-weight: 400
    font-style: normal
    font-size: 15px
    line-height: 160%

%paragraph-s
    font-family: $arial-italic
    font-size: $font-size-s
    letter-spacing: 0px
    font-weight: 400
    font-style: italic

.donation-description
    @extend %paragraph-s
    line-height: 18px

.button
    width: 100px

.pets-card-title
    font: $font-main
    font-size: 20px
    line-height: 23px
    display: flex
    align-items: center
    text-align: center
    letter-spacing: 0.06em
    color: $color-dark-l