@font-face {
  font-family: "Georgia";
  src: url("./assets/fonts/Georgia.woff2") format("woff2"), url("./assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("./assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/ArialMT.woff2") format("woff2"), url("./assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, .help-heading, h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 44px;
  line-height: 130%;
}

.pets-pets h1, h3 {
  color: rgb(84, 84, 84);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.pagination__button__active, .pagination__button__inactive, .pagination__button, h4, .help-heading {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

p {
  margin: 0 0 25px 0;
}

.nav-item, p {
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  color: rgb(76, 76, 76);
}

.donation > .wrapper .donation-description {
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgb(178, 178, 178);
}

body {
  background: url("./assets/img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer {
  background: url("./assets/img/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

html, body {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header > .wrapper {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-pets {
  background: rgb(255, 255, 255);
}

.header-logo-title__pets, .header-logo-title__main {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 110%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.header-logo-title__main {
  color: rgb(241, 205, 179);
}
.header-logo-title__pets {
  color: rgb(84, 84, 84);
}

.header-logo-subtitle__pets, .header-logo-subtitle__main {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin: 10px 0 0 5px;
}

.header-logo-subtitle__main {
  color: rgb(255, 255, 255);
}
.header-logo-subtitle__pets {
  color: rgb(41, 41, 41);
}

.header-logo {
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin-left: 35px;
}

.nav-link-pets__active, .nav-link-pets:hover, .nav-link-pets, .nav-link-main__active, .nav-link-main:hover, .nav-link-main {
  text-decoration: none;
  padding: 0;
  position: relative;
  transition: color 0.3s;
}
.nav-link-pets__active::after, .nav-link-pets:hover::after, .nav-link-pets::after, .nav-link-main__active::after, .nav-link-main:hover::after, .nav-link-main::after {
  content: "";
  position: absolute;
  background-color: rgb(241, 205, 179);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
}

.nav-link-main {
  color: rgb(205, 205, 205);
}

.nav-link-main__active, .nav-link-main:hover {
  color: rgb(250, 250, 250);
}

.nav-link-pets {
  color: rgb(84, 84, 84);
}

.nav-link-pets__active, .nav-link-pets:hover {
  color: rgb(41, 41, 41);
}

.nav-link-main__active, .nav-link-pets__active {
  cursor: default;
}
.nav-link-main__active::after, .nav-link-pets__active::after {
  width: 100%;
}

.welcome > .wrapper {
  height: 788px;
  background-image: url("./assets/img/start-screen-puppy.png");
  background-position: 93% bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
}
.welcome > .wrapper h1 {
  color: rgb(255, 255, 255);
}
.welcome > .wrapper p {
  color: rgb(205, 205, 205);
  width: 460px;
  margin: 42px 0;
}

.welcome-pic {
  display: none;
}

.about {
  background-color: rgb(255, 255, 255);
}

.about > .wrapper {
  height: 588px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  flex-grow: 0;
  padding-top: 6px;
  padding-bottom: 30px;
}
.about > .wrapper h3 {
  width: 360px;
  color: rgb(84, 84, 84);
}
.about > .wrapper p {
  color: rgb(76, 76, 76);
  width: 430px;
  margin: 25px 0 0 0;
}

.about-pic {
  margin: 60px 0;
}

.pets {
  background-color: rgb(246, 246, 246);
}

.pets > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.pets > .wrapper h3 {
  width: 400px;
  text-align: center;
  margin: 80px auto 0 auto;
}
.pets > .wrapper .pets-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 53px;
}

.pets-cards-block-pets {
  display: flex;
  flex-flow: row wrap;
  gap: 30px 40px;
}

.pets-cards-block-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 90px;
}

.pets-card {
  width: 270px;
  height: 435px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  border-radius: 9px;
  overflow: hidden;
  transition: 0.3s;
}
.pets-card:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets-card:hover .pets-card-button {
  background: rgb(241, 205, 179);
}
.pets-card .pets-card-title {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgb(84, 84, 84);
}

.pets-main {
  height: 877px;
}

.pets-pets {
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 100px;
}
.pets-pets h1 {
  text-align: center;
  color: rgb(84, 84, 84);
  display: flex;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  margin: 0;
}

/* HELP */
.help {
  background-color: rgb(255, 255, 255);
}

.help > .wrapper {
  height: 611px;
  padding-top: 80px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 60px;
}
.help > .wrapper h3 {
  width: 310px;
  text-align: center;
  margin: 0 auto;
}
.help > .wrapper .help-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 55px 120px;
}

.help-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
.help-item img {
  height: 60px;
}

.help-heading {
  text-align: center;
}

.donation {
  background-color: rgb(246, 246, 246);
}

.donation > .wrapper {
  height: 462px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 70px 180px 90px 180px;
}
.donation > .wrapper h3 {
  width: 300px;
}
.donation > .wrapper h3, .donation > .wrapper h4, .donation > .wrapper .help-heading, .donation > .wrapper h5 {
  color: rgb(84, 84, 84);
}
.donation > .wrapper h3, .donation > .wrapper h5, .donation > .wrapper div {
  margin: 0 0 20px 0;
}
.donation > .wrapper .credit-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #F1CDB3;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  height: 43px;
  background: rgb(241, 205, 179);
  border-radius: 9px;
  cursor: pointer;
  transition: background 0.5s;
}
.donation > .wrapper .credit-card img {
  width: 30px;
  height: 23px;
  color: rgb(41, 41, 41);
}
.donation > .wrapper .credit-card:hover {
  background: rgb(253, 220, 196);
}
.donation > .wrapper .donation-description {
  line-height: 18px;
  color: rgb(178, 178, 178);
  width: 380px;
  margin: 0 0 0 0;
}

.footer > .wrapper {
  height: 350px;
  background: url("./assets/img/footer-puppy.png") no-repeat 96% bottom;
  color: rgb(241, 205, 179);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-start;
  -moz-column-gap: 122px;
       column-gap: 122px;
  padding-top: 56px;
  padding-bottom: 60px;
}
.footer > .wrapper h3 {
  width: 280px;
  color: rgb(255, 255, 255);
}
.footer > .wrapper .contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 315px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(241, 205, 179);
}
.footer > .wrapper .contact path {
  fill: rgb(241, 205, 179);
  transition: fill 0.3s;
}
.footer > .wrapper .contact:hover {
  color: rgb(250, 250, 250);
}
.footer > .wrapper .contact:hover path {
  fill: rgb(250, 250, 250);
}
.footer > .wrapper .contact h4, .footer > .wrapper .contact .help-heading {
  transition: color 0.3s;
}
.footer > .wrapper .contact svg {
  flex: 0 0 auto;
}

.pets-card-button, .our-pets-button, .button-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  border-radius: 100px;
  border: 0;
  color: rgb(41, 41, 41);
  cursor: pointer;
  transition: background 0.5s;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}

.our-pets-button, .button-welcome {
  background: rgb(241, 205, 179);
}
.our-pets-button:hover, .button-welcome:hover {
  background: rgb(253, 220, 196);
}

.pets-card-button {
  background: rgb(255, 255, 255);
  border: solid 2px rgb(241, 205, 179);
}
.pets-card-button:hover {
  background: rgb(241, 205, 179);
}

.button-welcome {
  align-self: flex-start;
}

.pagination__button__active, .pagination__button__inactive, .pagination__button {
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: 2px solid rgb(241, 205, 179);
}

.pagination__button {
  cursor: pointer;
  transition: background 0.3s;
  border: 2px solid rgb(241, 205, 179);
}
.pagination__button:hover {
  background: rgb(241, 205, 179);
}

.pagination__button__inactive {
  color: rgb(205, 205, 205);
  border: 2px solid rgb(205, 205, 205);
}

.pagination__button__active {
  background: rgb(241, 205, 179);
}

.nav-burger {
  display: none;
  stroke: rgb(241, 205, 179);
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.nav-burger:hover, .nav-burger__active {
  transform: rotate(-90deg);
}

.header-pets .nav-burger {
  stroke: rgb(0, 0, 0);
}

.hide {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .wrapper {
    flex-flow: column wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    width: 768px;
    padding: 0 30px;
  }
  .header > .wrapper {
    flex-flow: row nowrap;
  }
  .welcome > .wrapper {
    height: 1045px;
    align-items: center;
    justify-content: flex-start;
    background-position: 85% bottom;
    background-repeat: no-repeat;
    background-size: 74%;
    padding-top: 30px;
  }
  .welcome > .wrapper h1 {
    align-self: flex-start;
  }
  .button-welcome {
    align-self: center;
  }
  .about > .wrapper {
    height: 1048px;
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .about > .wrapper h3 {
    align-self: flex-start;
  }
  .about-pic {
    order: 1;
    margin: 80px 0;
  }
  .pets > .wrapper {
    height: 877px;
    justify-content: flex-start;
  }
  .pets > .wrapper .pets-carousel {
    gap: 12px;
  }
  .pets-cards-block-main {
    gap: 40px;
  }
  .pets-cards-block-pets {
    justify-content: center;
  }
  .pets-card {
    display: none;
  }
  .pets-card:nth-child(-n+2) {
    display: flex;
  }
  .pets-pets {
    flex-flow: column nowrap;
    height: 1733px !important;
    padding-top: 80px;
    padding-bottom: 76px;
    gap: 30px !important;
  }
  .pets-pets .pets-card {
    display: none;
  }
  .pets-pets .pets-card:nth-child(-n+6) {
    display: flex;
  }
  .pets-pets .pagination {
    margin-top: 10px;
  }
  .help > .wrapper {
    height: 779px;
  }
  .help > .wrapper .help-block {
    gap: 55px 60px;
  }
  .help > .wrapper .help-item {
    width: 170px;
  }
  .donation > .wrapper {
    height: 783px;
    align-items: flex-start;
    justify-content: center;
    align-content: space-around;
    padding: 80px auto;
  }
  .donation > .wrapper .donation-pic {
    order: 1;
    margin: 60px -65px 0px -65px;
  }
  .footer > .wrapper {
    height: 639px;
    align-items: flex-start;
    align-content: flex-start;
    -moz-column-gap: 24px;
         column-gap: 24px;
    background-position: center bottom;
    padding: 30px 64px 375px 64px;
  }
}
/* Phone */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    width: 320px;
    padding: 0 10px;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
  p, h1, h3 {
    width: revert !important;
  }
  .donation > .wrapper .donation-description, .nav-item, p {
    text-align: justify;
  }
  h1, h3 {
    font-size: 25px !important;
    line-height: 130% !important;
    letter-spacing: 0.06em !important;
    text-align: center;
  }
  .nav-burger {
    display: block;
  }
  .header > .wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 20px;
  }
  .header > .wrapper .nav {
    display: none;
  }
  .welcome > .wrapper {
    justify-content: flex-start;
    align-items: center;
    height: 703px;
    background-position: 80% bottom;
    background-size: 81%;
    padding-top: 30px;
  }
  .welcome > .wrapper p {
    text-align: center;
  }
  .button-welcome {
    align-self: center;
  }
  .about > .wrapper {
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 974px;
    padding: 0 25px;
    padding-top: 40px;
  }
  .about-pic {
    order: 1;
    width: 95%;
    margin: 40px 0 0 0;
  }
  .pets > .wrapper {
    height: 791px;
    gap: 42px;
  }
  .pets > .wrapper .pets-carousel {
    gap: 20px 80px;
    flex-flow: row wrap;
    justify-content: center;
  }
  .pets > .wrapper h3 {
    margin-top: 40px;
  }
  .pets > .wrapper .pets-cards-block-main {
    order: -1;
  }
  .pets-cards-block-pets {
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px 40px;
  }
  .pets-card {
    display: none;
  }
  .pets-card:nth-child(-n+1) {
    display: flex;
  }
  .pets-pets {
    flex-flow: column nowrap;
    height: 1649px !important;
    padding-top: 42px;
    padding-bottom: 42px;
    gap: 42px;
  }
  .pets-pets .pets-card {
    display: none;
  }
  .pets-pets .pets-card:nth-child(-n+3) {
    display: flex;
  }
  .pagination {
    width: 100%;
  }
  .help > .wrapper {
    height: 745px;
    padding: 42px 15px;
    gap: 42px;
    justify-content: flex-start;
    align-content: center;
  }
  .help > .wrapper h3 {
    width: 250px !important;
  }
  .help > .wrapper .help-block {
    gap: 30px;
    justify-content: flex-start;
  }
  .help > .wrapper .help-item {
    width: 130px;
    gap: 20px;
  }
  .help > .wrapper img {
    height: 50px;
  }
  .help-heading {
    font-size: 15px;
    line-height: 110%;
  }
  .donation > .wrapper {
    padding: 42px 20px;
    height: 542.2px;
    flex-flow: column nowrap;
    align-items: center !important;
    align-content: center;
    padding: 80px auto;
  }
  .donation > .wrapper h5 {
    line-height: 160%;
    letter-spacing: 0;
  }
  .credit-card {
    padding: 13px 15px;
  }
  .credit-card-number {
    font-size: 15px;
    line-height: 110%;
  }
  .donation-pic {
    width: 93%;
    order: 1;
    margin: 42px -65px 0px -65px;
  }
  .footer > .wrapper {
    padding: 30px 10px;
    height: 809px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    row-gap: 41px;
    background-position: center bottom;
    background-size: 81%;
  }
  .footer > .wrapper h3 {
    width: 280px !important;
  }
  .footer > .wrapper .contact {
    justify-content: center;
    align-items: center;
    width: revert !important;
  }
  .footer > .wrapper .contact:nth-last-child(1) {
    align-self: flex-start;
  }
}